<html>
  <head>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 20px; } h1 {
      text-align: center; } p { margin-top: 10px; }
    </style>
  </head>
  <body>
    <h1>Bienvenido(a),
      {{#if user.githubId}}
        {{user.displayName}}
      {{else}}
        {{user.first_name}}
        {{user.last_name}}
      {{/if}}
    </h1>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
  </body>
</html>